<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type=text/css th:href="@{/css/webapp.css}">
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
<h2 class="title" th:text="#{page.title}">Offline title</h2>

<div>
<p th:text="#{give.heartrate} + ${heartrate}"> </p>
<table>
    <tr>
        <th>Zones</th>
        <th>HeartRate</th>
    </tr>
    <tr>
        <td>Zone 1</td>
        <td th:text="${zone_50 + '-' + zone_60 + ' BPM'}">-</td>
    </tr>
    <tr>
        <td>Zone 2</td>
        <td th:text="${zone_60 + '-' + zone_70+ ' BPM'}">-</td>
    </tr>
    <tr>
        <td>Zone 3</td>
        <td th:text="${zone_70 + '-' + zone_80+ ' BPM'}">-</td>
    </tr>
    <tr>
        <td>Zone 4</td>
        <td th:text="${zone_80 + '-' + zone_90+ ' BPM'}">-</td>
    </tr>
    <tr>
        <td>Zone 5</td>
        <td th:text="${zone_90 + '-' + heartrate+ ' BPM'}">-</td>
    </tr>
</table>
</div>
</body>
</html>