<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type=text/css th:href="@{/css/webapp.css}">
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
<h2 class="title" th:text="#{page.title}">Offline title</h2>

<div>
<p th:text="#{page.information}">Offline subtitle</p>

<form action="heart_rate_zones" method="POST">
    <label for="hr_input" th:text="#{max.heart.rate}">__Heart rate__</label><br>
    <input id="hr_input" type="number" name="max_heart_rate" value="180" min="40" max="250">
    <input type="submit" th:value="#{get.heartrate.btn}" value="_offline_"/>

</form>
</div>
</body>
</html>