<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title class="title" th:text="#{tab.title} + ': '  + ${name}">Species</title>
    <link rel="stylesheet" type=text/css th:href="@{/css/home.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 class="title" th:text="#{page.title}">offline title</h2>
<div>
    <p>
        <strong>
            <span th:text="${name} + ' ('" ></span>
            <em th:text="${scientific_name}"></em>
            <span th:text="')'"></span>
        </strong><br>
        <strong th:text="#{language.name}"></strong><span th:text="${other_name}"></span>
    </p>
    <p>
        <img th:src="@{${picture}}" th:alt="'picture of ' + ${name}" width=75%>
    </p>
    <p>
        <strong th:text="#{species.char}"></strong>
        <span th:text="${size} + ' cm' + ' & ' + ${weight} + ' kg'"></span><br>
        <br>
        <strong th:text="#{species.description}"></strong>
        <article th:utext="#{'cat.' + ${catSpecies} + '.desc' }"></article><br>
        <strong th:text="#{species.occurrence}"></strong><br>
        <br>
        <article th:utext="#{'cat.' + ${catSpecies} + '.occ' }"></article><br>
        <strong th:text="#{species.conservation}"></strong><br>
        <br>
        <article th:utext="#{'cat.' + ${catSpecies} + '.cons' }"></article><br>
    </p>

<!--
<h4 th:text="${name} + '(' + ${scientificname} + ')'"></h4>
<h4 th:text="#{language.name} + ':'"></h4> <p th:text="${other.name}"></p>
<img th:src="${picture}">
picture ref
<h4 th:text="#{species.description}"></h4>
<p th:text="#{ 'cat.' + ${scientific_name} + '.des'}"></p>
<h4 th:text="#{species.occurrence}"></h4>
<p th:text="#{ 'cat.' + ${scientific_name} + '.occ'}"></p>
<h4 th:text="#{species.conservation}"></h4>
<p th:text="#{ 'cat.' + ${scientific_name} + '.cons'}"></p>
 info ref
-->

</div>
</body>
</html>