<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{tab.title}">Species Browser</title>
    <link rel="stylesheet" type=text/css th:href="@{/css/home.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 class="title" th:text="#{page.title}">offline title</h2>
<br>
<div>
    <strong class="summary" th:text="#{page.summary}"></strong>
    <p th:utext="#{page.info}"></p>

    <table>
        <thead>
        <tr>
            <th th:text="#{table.title}"></th>
            <th th:text="#{table.info}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="#{cat_1}"></td>
            <td> <a th:href="@{/species.detail(cat_species='Acinonyx_jubatus')}" href="#">link</a> </td>
        </tr>
        <tr>
            <td th:text="#{cat_2}"></td>
            <td>  <a th:href="@{/species.detail(cat_species='Leptailurus_serval')}" href="#">link</a> </td>
        </tr>
        <tr>
            <td th:text="#{cat_3}"></td>
            <td>  <a th:href="@{/species.detail(cat_species='Lynx_rufus')}" href="#">link</a> </td>
        </tr>
        <tr>
            <td th:text="#{cat_4}"></td>
            <td>  <a th:href="@{/species.detail(cat_species='Otocolobus_manul')}" href="#">link</a> </td>
        </tr>
        <tr>
            <td th:text="#{cat_5}"></td>
            <td>  <a th:href="@{/species.detail(cat_species='Pardofelis_marmorata')}" href="#">link</a> </td>
        </tr>
        <tr>
            <td th:text="#{cat_6}"></td>
            <td>  <a th:href="@{/species.detail(cat_species='Puma_concolor')}" href="#">link</a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>